@model IEnumerable<AuthorViewModel>

@{
    ViewData["Title"] = "Authors";
}

@section Styles {
    <link rel="stylesheet" href="~/assets/plugins/datatables/datatables.bundle.css" />
}

<div class="alert bg-light-primary border border-primary border-3 border-dashed d-flex flex-column flex-sm-row w-100 p-5 mb-10 justify-content-between">
    <div class="d-flex align-items-center">
        <div class="symbol symbol-40px me-3">
            <div class="symbol-label fs-2 fw-semibold text-success">
                <span class="svg-icon svg-icon-2 svg-icon-primary">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M6.28548 15.0861C7.34369 13.1814 9.35142 12 11.5304 12H12.4696C14.6486 12 16.6563 13.1814 17.7145 15.0861L19.3493 18.0287C20.0899 19.3618 19.1259 21 17.601 21H6.39903C4.87406 21 3.91012 19.3618 4.65071 18.0287L6.28548 15.0861Z" fill="currentColor" />
                        <rect opacity="0.3" x="8" y="3" width="8" height="8" rx="4" fill="currentColor" />
                    </svg>
                </span>
            </div>
        </div>
        <div class="d-flex flex-column pe-0 pe-sm-10">
            <h5 class="mb-1">Authors</h5>
        </div>
    </div>
    <div>
        <a href="javascript:;" class="btn btn-sm btn-primary js-render-modal" data-title="Add Author" data-url="/Authors/Create">
            <i class="bi bi-plus-square-dotted"></i>
            Add
        </a>
    </div>
</div>

<div class="card shadow-sm">
    <partial name="_DataTablesCardHeader">
    <div class="card-body pt-0">
        <div class="table-responsive">
            <table class="table table-row-bordered gy-7 js-DataTables" data-document-title="Authors">
                <thead>
                    <tr class="fw-bold fs-6 text-gray-800">
                        <th>Name</th>
                        <th>Status</th>
                        <th>Created On</th>
                        <th>Last Updated On</th>
                        <th class="js-no-export">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var author in Model)
                    {
                        <partial name="_AuthorRow" model="author" />
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@Html.AntiForgeryToken()

@section Plugins {
    <script src="~/assets/plugins/datatables/datatables.bundle.js"></script>
}

@section Scripts
    {
    <partial name="_validationscriptspartial" />
}
