<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Bookify</title>
    <!--begin::Fonts(mandatory for all pages)-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter:300,400,500,600,700" />
    <!--end::Fonts-->
    <!--begin::Global Stylesheets Bundle(mandatory for all pages)-->
    <link rel="stylesheet" href="~/assests/css/plugins.bundle.css" type="text/css" />
    <link rel="stylesheet" href="~/assests/css/style.bundle.css" type="text/css" />
    <!--end::Global Stylesheets Bundle-->
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Bookify.web.styles.css" asp-append-version="true" />
</head>
<body id="kt_body" class="header-fixed header-tablet-and-mobile-fixed">
	<!--begin::Theme mode setup on page load-->
	<script>var defaultThemeMode = "light"; var themeMode; if (document.documentElement) { if (document.documentElement.hasAttribute("data-theme-mode")) { themeMode = document.documentElement.getAttribute("data-theme-mode"); } else { if (localStorage.getItem("data-theme") !== null) { themeMode = localStorage.getItem("data-theme"); } else { themeMode = defaultThemeMode; } } if (themeMode === "system") { themeMode = window.matchMedia("(prefers-color-scheme: dark)").matches ? "dark" : "light"; } document.documentElement.setAttribute("data-theme", themeMode); }</script>
	<!--end::Theme mode setup on page load-->
	<!--begin::Main-->
	<!--begin::Root-->
	<div class="d-flex flex-column flex-root">
		<!--begin::Page-->
		<div class="page d-flex flex-row flex-column-fluid">
			<!--begin::Wrapper-->
			<div class="wrapper d-flex flex-column flex-row-fluid" id="kt_wrapper">
				<partial name="_Header"/>
				<!--begin::Content wrapper-->
				<div class="d-flex flex-column-fluid">
					<partial name="_Aside"/>
					<!--begin::Container-->
					<div class="d-flex flex-column flex-column-fluid container-fluid">
						<div class="content flex-column-fluid" id="kt_content">
							@RenderBody()
						</div>
					</div>
					<!--end::Container-->
				</div>
				<!--end::Content wrapper-->
			</div>
			<!--end::Wrapper-->
		</div>
		<!--end::Page-->
	</div>

    <script>var hostUrl = "assets/";</script>
    <!--begin::Global Javascript Bundle(mandatory for all pages)-->
    <script src="~/assests/js/plugins.bundle.js"></script>
    <script src="~/assests/js/scripts.bundle.js"></script>
    <!--end::Global Javascript Bundle-->
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
